body {
	background-image: url('../assets/background.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: grid;
	margin: 0;
	min-height: 100vh;
	min-width: 100vw;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	background: white;
	border-radius: 10px;
	margin-bottom: 10vh;
	max-width: 80vw;
	min-height: 50vh;
	min-width: 80vw;
	padding: 20px;
	place-self: center;
}

/*-----------------------*/
/* Button Styles		 */
/*-----------------------*/
button {
	border-radius: 7px;
	border: none;
	color:white;
	cursor: pointer;
	font-size: 12pt;
	min-height: 10mm;
	padding: 12px 15px;
	transition: all 0.25s ease;
	background: #45b1ef;
}

button:hover,
button:focus {
	border-radius: 10px;
	background: #23a5f0;
}

#app {
	place-self: center;
	grid-row: 1;
	grid-column: 1;
}

.-hidden {
	animation: fade-out-and-down 500ms ease forwards;
}

.-show {
	animation: fade-in-and-down 500ms ease forwards;
}

@starting-style {
	.-hidden {
		opacity: 0;
		pointer-events: none;
	}
}

@media (prefers-reduced-motion: reduce) {
	.-hidden {
		animation: fade-out 500ms ease forwards;
	}

	.-show {
		animation: fade-in 500ms ease forwards;
	}
}

/* ---------------------- */
/* Loading spinner styles */
/* ---------------------- */
.loading-spinner {
	box-sizing: border-box;
	display: inline-block;
	grid-column: 1;
	grid-row: 1;
	height: 80px;
	opacity: 1;
	place-self: center;
	pointer-events: none;
	position: relative;
	width: 80px;
}
.loading-spinner div {
	animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border: 8px solid currentColor;
	border-color: currentColor transparent transparent transparent;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	height: 64px;
	margin: 8px;
	position: absolute;
	width: 64px;
}
.loading-spinner div:nth-child(1) {
	animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
	animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
	animation-delay: -0.15s;
}


/*-----------------------*/
/* Animations			 */
/*-----------------------*/
@keyframes loading-spinner {
	0% {
	transform: rotate(0deg);
	}
	100% {
	transform: rotate(360deg);
	}
}

@keyframes fade-in-and-down {
	0% {
		opacity: 0;
		transform:translateY(-25px);
	}

	100% {
		opacity: 1;
		transform:translateY(0);
	}
}

@keyframes fade-out-and-down {
	0% {
		opacity: 1;
		transform:translateY(0);
	}

	100% {
		opacity: 0;
		transform:translateY(25px);
		pointer-events: none;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		pointer-events: none;
	}
}

/*-----------------------*/
/* Camera Contorls		 */
/*-----------------------*/
.camera-controls-container {
	display: grid;
	grid-template-areas: "account-image";
	place-content: center;
	position: relative;
	width: fit-content;
}

.video-stream,
.video-image {
	background: black;
	color: white;
	display: grid;
	grid-area: account-image;
	height: 300px;
	place-content: center;
	width: 300px;
}

.video-stream {
	object-fit: cover;
	z-index: 1;
}

.video-image {
	background: black;
	color: white;
	display: grid;
	height: 300px;
	place-content: center;
	width: 300px;
	z-index: 1;
}

.take-picture-btn {
	position: absolute;
	left: 0;
	z-index: 5;
}

.take-picture-icon,
.save-image-icon {
	height:20px;
	width: 20px;
	filter:invert(1);
}

.save-image-btn {
	position: absolute;
	right:0;
	z-index: 5;
}

/*-----------------------*/
/* Welcome page styles	 */
/*-----------------------*/
.welcome-login-btn {
	/*background: #45b1ef;*/
}

.welcome-login-btn:hover,
.welcome-login-btn:focus {
	/*background: #23a5f0;*/
}

.welcome-create-account-btn {
	background: #0a7ec1;
}

.welcome-create-account-btn:hover,
.welcome-create-account-btn:focus {
	background: #075786;
}






/*-----------------------*/
/* Login page styles	 */
/*-----------------------*/
.login-view-video-start-btn {
	
}

video {
	height: 540px;
	width: 960px;
	background: black;
}



/*-----------------------*/
/* Account Management	 */
/*-----------------------*/
