<div id="manage-account-view">
	<h1>Account Management</h1>
	<div class="camera-controls-container">
		<video class="video-stream">Video stream not available.</video>
		<img class="video-image -hidden" src="" alt="">
		<button class="take-picture-btn -hidden">
			<img class="take-picture-icon" src="../assets/camera.svg" alt="Take Picture" />
		</button>
		<button class="save-image-btn -hidden">
			<img class="save-image-icon" src="../assets/floppy-disk-solid.svg" alt="Save Image" />
		</button>
	</div>
	<ul class="passkey-list"></ul>
	<div class="camera-controls-buttons-container">
		<button id="manage-account-view-back-btn" class="back-btn">
			<img class="back-btn-icon"/>
			<span class="back-btn-text">
				Back
			</span>
		</button>
		<button id="manage-account-view-video-start-btn" class="video-start-btn">
			<img class="manage-account-view-video-start-btn-icon"/>
			<span class="manage-account-view-video-start-btn-text">
				take a new picture
			</span>
		</button>
		<button id="manage-account-view-new-passkey-btn" class="new-passkey-btn">
			<img class="manage-account-view-new-passkey-btn-icon"/>
			<span class="manage-account-view-new-passkey-btn-text">
				register a new passkey
			</span>
		</button>
		<button class="logout-btn">
				Logout
		</button>
	</div>
</div>