<div id="manage-account-view">
	<h1>Account Management</h1>
	<div class="account-image-container">
		<img class="profile-image" src="" alt="No Profile Image">
		<button>
			<img src="" alt="Take Picture" />
		</button>
		<button>
			<img src="" alt="Save Image" />
		</button>
	</div>
	<ul class="passkey-list"></ul>
	<div class="camera-controls-buttons-container">
		<button id="manage-account-view-back-btn" class="back-btn">
			<img class="back-btn-icon"/>
			<span class="back-btn-text">
				Back
			</span>
		</button>
		<button id="manage-account-view-video-start-btn" class="video-start-btn">
			<img class="manage-account-view-video-start-btn-icon"/>
			<span class="manage-account-view-video-start-btn-text">
				take a new picture
			</span>
		</button>
		<button id="manage-account-view-new-passkey-btn">
			<img class="manage-account-view-new-passkey-btn-icon"/>
			<span class="manage-account-view-new-passkey-btn-text">
				register a new passkey
			</span>
		</button>
	</div>
</div>