<div id="manage-account-view">
	<div class="camera-controls-container">
		<video class="video-stream">Video stream not available.</video>
		<img class="video-image -hidden -placeholder" src="./assets/person-outline.svg" alt="">
		<canvas class="video-canvas"></canvas>
		<div class="camera-controls-buttons-container -hidden">
			<button class="take-picture-btn">
				<img class="take-picture-icon" src="./assets/camera-solid.svg" alt="Take Picture" />
			</button>
			<button class="save-image-btn">
				<img class="save-image-icon" src="./assets/floppy-disk-solid.svg" alt="Save Image" />
			</button>
			<button class="end-video-btn">
				<img class="end-video-icon" src="./assets/xmark-solid.svg" alt="Save Image" />
			</button>
		</div>
		
	</div>
	<ul class="passkey-list"></ul>
	<div class="page-control-buttons">
		<button class="back-btn">
			<img class="btn-icon" src="./assets/arrow-left-solid.svg"/>
			<span class="btn-text">
				Back
			</span>
		</button>
		<button id="manage-account-view-video-start-btn" class="video-start-btn">
			<img class="btn-icon" src="./assets/camera-solid.svg"/>
			<span class="btn-text">
				Take New Picture
			</span>
		</button>
		<button id="manage-account-view-new-passkey-btn" class="new-passkey-btn">
			<img class="btn-icon" src="./assets/key-solid.svg"/>
			<span class="btn-text">
				Register New Passkey
			</span>
		</button>
		<button class="logout-btn">
			<img class="btn-icon" src="./assets/right-from-bracket-solid.svg"/>
			<span class="btn-text">
				Logout
			</span>
		</button>
	</div>
</div>