<div id="create-account-view">
	<div class="message-container -hidden"></div>
	<div class="step-one">
		<h1>Signup</h1>
		<p class="instructions -step-1">This site uses facial recognition during login to determine your username during each login attempt, we need to take a short video from your webcam in order to determine that it's you later.</p>
		<p class="instructions -step-1">Step 1: Enter your name and a username</p>
		<p class="instructions -step-2">Step 2: Start your camera to register your face for facial recognition</p>
		<form class="user-form" action="">
			<label for="name" class="form-label">
				<span class="label-text">Name</span>
				<input autofocus  name="name" id="name" class="name-input -init" minlength="3" required type="text">
			</label>
			<label for="username">
				<span class="label-text">Username</span>
				<input name="username" id="username" class="username-input -init" minlength="3" required type="text">
			</label>
		</form>
	</div>
	
	<div class="camera-controls-container">
		<video class="video-stream">Video stream not available.</video>
		<img class="video-image -hidden -placeholder" src="./assets/person-outline.svg" alt="">
		<canvas class="video-canvas"></canvas>
		<div class="camera-controls-buttons-container -hidden">
			<button class="end-video-btn">
				<img class="end-video-icon" src="./assets/xmark-solid.svg" alt="Save Image" />
			</button>
		</div>
		<div class="primary-controls-container -hidden">
			<button class="start-recording-btn">
				<div class="recording-icon"></div>
				<div class="recording-text">Start Facial Training</div>
			</button>
		</div>
	</div>
	<div class="page-control-buttons">
		<button class="back-btn">
			<img class="btn-icon" src="./assets/arrow-left-solid.svg"/>
			<span class="btn-text">
				Back
			</span>
		</button>
		<button id="create-account-video-start-btn" class="video-start-btn">
			<img class="btn-icon" src="./assets/camera-solid.svg"/>
			<span class="btn-text">
				Start Camera for Facial Recognition
			</span>
		</button>
		<button id="create-account-btn" class="create-account-btn -invalid">
			<img class="btn-icon" src="./assets/user-plus-solid.svg"/>
			<span class="btn-text">
				Create Account
			</span>
		</button>
	</div>
</div>
