<div id="create-account-view">
	<link href="../css/login.css"/>
	<video id="create-account-view-video-stream" class="video-stream">Video stream not available.</video>
	<canvas id="create-account-view-video-canvas" class="video-canvas"></canvas>
	<div class="output">
		<img id="create-account-view-image-capture" class="image-capture" alt="Screen capture" />
	</div>
	<div class="camera-controls-buttons-container">
		<button id="create-account-view-back-btn" class="back-btn">
			<img class="back-btn-icon"/>
			<span class="back-btn-text">
				Back
			</span>
		</button>
		<button id="create-account-view-video-start-btn" class="video-start-btn">
			<img class="create-account-view-video-start-btn-icon"/>
			<span class="create-account-view-video-start-btn-text">
				Start Camera for Facial Recognition
			</span>
		</button>
		<button id="create-account-view-picture-btn" class="take-picture-btn">
			<img class="create-account-view-take-picture-btn-icon"/>
			<span class="create-account-view-take-picture-btn-text">
				Take Picture
			</span>
		</button>
	</div>
</div>
