<div id="login-view">
	<div class="message-container -hidden"></div>
	<div class="camera-controls-container">
		<video class="video-stream">Video stream not available.</video>
		<img class="video-image -hidden -placeholder" src="./assets/person-outline.svg" alt="">
		<canvas class="video-canvas"></canvas>
		<div class="camera-controls-buttons-container -hidden">
			<!--<button class="take-picture-btn">
				<img class="take-picture-icon" src="./assets/camera-solid.svg" alt="Take Picture" />
			</button>
			<button class="save-image-btn">
				<img class="save-image-icon" src="./assets/floppy-disk-solid.svg" alt="Save Image" />
			</button>-->
			<button class="end-video-btn">
				<img class="end-video-icon" src="./assets/xmark-solid.svg" alt="Save Image" />
			</button>
		</div>
		<div class="primary-controls-container -hidden">
			<button class="start-recording-btn">
				<div class="recording-icon"></div>
				<div class="recording-text">Start Facial Recognition</div>
			</button>
		</div>
	</div>
	<div class="page-control-buttons">
		<button class="back-btn">
			<img class="btn-icon" src="./assets/arrow-left-solid.svg"/>
			<span class="btn-text">
				Back
			</span>
		</button>
		<button id="login-view-video-start-btn" class="video-start-btn">
			<img class="btn-icon" src="./assets/camera-solid.svg"/>
			<span class="btn-text">
				Start Camera for Facial Recognition
			</span>
		</button>
	</div>
</div>
