<div id="login-view">
	<link href="../css/login.css"/>
	<video id="login-view-video-stream" class="video-stream">Video stream not available.</video>
	<canvas id="login-view-video-canvas" class="video-canvas"></canvas>
	<div class="output">
		<img id="login-view-image-capture" class="image-capture" alt="Screen capture" />
	</div>
	<button id="login-view-video-start-btn" class="video-start-btn">
		<img class="login-view-video-start-btn-icon"/>
		<span class="login-view-video-start-btn-text">
			Start Camera for Facial Recognition
		</span>
	</button>
	<button id="login-view-picture-btn" class="take-picture-btn">
		<img class="login-view-take-picture-btn-icon"/>
		<span class="login-view-take-picture-btn-text">
			Take Picture
		</span>
	</button>
</div>
