<div id="login-view">
	<div class="camera-controls-container">
		<video class="video-stream">Video stream not available.</video>
		<img class="video-image -hidden" src="" alt="">
		<button class="take-picture-btn -hidden">
			<img class="take-picture-icon" src="../assets/camera.svg" alt="Take Picture" />
		</button>
	</div>
	<div class="camera-controls-buttons-container">
		<button id="login-view-back-btn" class="back-btn">
			<img class="back-btn-icon"/>
			<span class="back-btn-text">
				Back
			</span>
		</button>
		<button id="login-view-video-start-btn" class="video-start-btn">
			<img class="login-view-video-start-btn-icon"/>
			<span class="login-view-video-start-btn-text">
				Start Camera for Facial Recognition
			</span>
		</button>
	</div>
</div>
