<div id="welcome-view">
	<h1>Welcome!</h1>
	<p>Login using facial Recognition</p>
	<div class="page-control-buttons">
		<button class="welcome-login-btn">
			<img class="welcome-login-btn-icon" src=""/>
			<span class="welcome-login-btn-text">
				Login
			</span>
		</button>
		<button class="welcome-create-account-btn">
			<img class="welcome-create-account-btn-icon" src=""/>
			<span class="welcome-create-account-btn-text">
				Create New Account
			</span>
		</button>

		<!-- TEMP -->
		<button class="welcome-manage-account-btn">
				My Account
		</button>
	</div>
</div>
