<div id="welcome-view">
	<h1>Welcome!</h1>
	<p>Facial Recognition Login System</p>
	<div class="page-control-buttons">
		<button class="welcome-login-btn">
			<img class="btn-icon -login" src="assets/users-viewfinder-solid.svg"/>
			<span class="btn-text -login">
				Login
			</span>
		</button>
		<button class="welcome-create-account-btn">
			<img class="btn-icon -create" src="assets/user-plus-solid.svg"/>
			<span class="btn-text -create">
				Create New Account
			</span>
		</button>

		<!-- TEMP -->
		<button class="welcome-manage-account-btn">
			<img class="btn-icon -account" src="assets/circle-user-solid.svg"/>
			<span class="btn-text -account">
				My Account
			</span>
		</button>
	</div>
</div>
